/* @import 'bootstrap/scss/bootstrap'; */
/* @import "tailwindcss"; */
/* @plugin "daisyui"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Or your custom PostCSS code */
.desimg{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.desimg img{
    width: 40vw;
}



